<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal</title>
    <link type="text/css" rel="stylesheet" href="/styles/index.css">
    <link type="text/css" rel="stylesheet" href="/styles/form.css">
    <link type="text/css" rel="stylesheet" href="/styles/modal.css">
</head>

<!-- Script to check authorization -->
<script>
    async function isAuthorized() {
        const result = await fetch("/isauthorized/", {
            method: "POST",
            headers: {
                "content-type": "application/json"
            },
            body: JSON.stringify({
                token: localStorage.getItem("token")
            })
        }).then(res => res.json());

        if (result.status !== "ok" || result.username !== window.location.search.substring(4)) {
            window.location.href = "/signin/";
        }
    }
    isAuthorized();
</script>

<body>

    <header>
        <p><%= username %></p>
        <p id="add-icon">+</p>
        <p><a id="signout" href="#">Sign Out</a></p>
    </header>


    <% if (journals.length==0) { %>
        <div id="empty">
            <p>You do not have any journal.</p>
        </div>
    <% } %>

    <div class="container">
        <% journals.forEach(function(journal) { %>
            <div class="box">
                <h2>
                    <%= journal.heading %>
                </h2>
                <p>
                    <%= journal.body %>
                </p>
            </div>
        <% }) %>
    </div>

    <form id="form-add">
        <input id="journalheading" type="text" name="journalheading" placeholder="Journal Heading"><br>
        <textarea id="journalbody" name="journalbody" col="50" row="4" placeholder="Journal Body"></textarea>
        <input class="form-button" id="btn-submit" type="submit" value="Add">
    </form>

    <script src="/js/index.js"></script>

</body>

</html>