<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/styles/form.css">
</head>
<body>
    <form method="post">
        <input id="name" name="name" type="text" placeholder="Name">
        <input id="email" name="email" type="email" placeholder="Email">
        <input id="dob" name="dob" type="date" placeholder="Date">
        <input id="username" name="username" type="text" placeholder="Date">
        <input id="password" name="password" type="password" placeholder="Password">
        <input id="repassword" name="repassword" type="password" placeholder="Password (again)">
        <input id="btn-submit" type="submit" value="Sign Up">
    </form>

    <script src = "/javascripts/signup.js"></script>
    
</body>
</html>